body{ margin: 0; padding: 0px; }
.bg-color{ background-color: #009999;}
.white{color: white;}
.flex{ display: flex;}
.nav-menu{
    list-style: none;
    justify-content: end;
    display: flex;
}
.margin{margin-left: 35px;}
.font{font-family: 'Lato', sans-serif;}